body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pull-right {
  float: right !important;
}

.login-btn {
  width: 200px;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  max-height: 400px !important;
}

.header {
  background-color: grey;
  padding: 2rem 2rem 2rem;
}

.welcome-text {
  margin-right: 1rem;
  color: gold;
}

.upload-bar {
  background-color: #EEEEEE;
  text-align: center;
  padding: 2rem;
  margin-bottom: 30px;
}

.carousel-root {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}